.button {
    -fx-text-fill: white;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(#D3D3D3, #9b9c9e);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-border-radius: 45px;
}
.button:hover {
    -fx-background-color: #6d6b6e;
}

#choiceBoxFilter{
    -fx-text-fill: black;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(#D3D3D3, #9b9c9e);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-border-radius: 45px;
}

#feedLayout{
    -fx-background-color: #cfdff9;
    -fx-border-color: #cfdff9;
}

.root   {
    -fx-background-color: #cfdff9;
    -fx-border-color: #cfdff9;

}

#scrollPane {
    -fx-background-color: #cfdff9;
}