.root {
    -fx-background-color: #cfdff9;
}

#logintitle {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 45px;
    -fx-text-fill: black;
}
.button {
    -fx-text-fill: black;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(#D3D3D3, #9b9c9e);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-border-radius: 45px;
}

#chooseDefault{
    -fx-text-fill: black;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(#D3D3D3, #9b9c9e);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-border-radius: 45px;
}

.button:hover {
    -fx-background-color: #6d6b6e;
}

#chooseDefault:hover {
    -fx-background-color: #6d6b6e;
}

.text-field {
    -fx-font-family: sans-serif;
    -fx-background-color: #f2f2f2;
    -fx-font-size: 14px;

}
